html {
    user-select: none;
    -webkit-user-drag: none;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    overscroll-behavior-y: contain;
    viewport-fit: cover;

    background-color: #323b40;
}
